.footer {
    // position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 13rem;
    color: white;
    background-color: black;
    font-size: 1.1rem;

    .logo {
        width: 8rem;
        margin: 1rem;
    }
}