//  Style du composant Header

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 4rem;

    .logo {
        width: 13vw;
        margin: .5rem;
    }

    .navigation {
        display: flex;
        margin-top: 2rem;
    
        li{
            padding: 0 .5rem;
        }
    }
}
