// style du composant Collapse
$borderRadius: .5rem;

.collapse {
    max-width: 1000px;
    height: auto;
    background-color: hsl(0, 0%, 96%);
    border-radius: $borderRadius;
    overflow: hidden;
    
    .collapse-bar{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3rem .8rem;
        color: white;
        background-color: hsl(0, 100%, 69%);
        border-radius: $borderRadius;

        .fa-chevron-down {
            font-size: 1.5rem;
            padding-right: 1rem;
        }
    }

    .collapse-content{
        color: hsl(0, 100%, 69%);
        opacity: 0;
        transition: opacity .1s ease-in-out, height .1s .1s ease-in-out;
    
        p {
            padding : 1rem;
        }
    }

    .open {
        opacity: 1;
        transition: height .1s ease-in-out, opacity .1s .1s ease-in-out;
    }
}