@import './variables.scss';
@import './mixins.scss';

// style de base de l'app Kasa
body {
  background-color: $bgColor;
  font-family: 'Montserrat', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: $elementMargin $bodyMargin;

  @include tablet {
    margin : $elementMargin;
  }

  @include mobile-large {
    margin : 0 1rem 1rem;
  }
}

a {
  color: $mainColor;

  &.--actif {
    text-decoration: underline;
  }
}
