// style des pages logement

.housing {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;

    .collapses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
}
