.carousel-btn {
    position: absolute;
    height: 100%;
    width: 3rem;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 1rem;
        color: white;
    }

    &.prev {
        left: 0rem;
        padding-left: 1rem;
    }

    &.next {
        padding-right: 1rem;
        right: 0rem;
    }
}