$mainColor: hsl(0, 100%, 69%);

.housing-infos {
        display: flex;
        justify-content: space-between;
        color: $mainColor;

        .infos-section {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            // gap: 1rem;
        }
}